FunPay/frontend/public/assets/website/emojis/** filter=lfs diff=lfs merge=lfs -text
FunPay/frontend/public/assets/website/profile-cosmetics/** filter=lfs diff=lfs merge=lfs -text
FunPay/frontend/public/assets/website/stickers/** filter=lfs diff=lfs merge=lfs -text
